body{
    margin:0;
    text-align: center;
    /* or margin:0;    we dont need any other unit to mention if the value is 0*/
    
    font-family: 'Merriweather', serif;
}
h1{
    font-family: cursive;
    margin-top: 0px;
    color: #66BFBF;
    font-size: 300%;
}
h2{
    color: #66BFBF;
    font-weight: normal;

}
h3{
    color: #11999E;

}
.cloud1{
    height: 100px;
    position: relative;
    padding-top: 70px;
    left: 200px;
}
.mountain{
    height: 600px;
    position: relative;
    left: 30px;
}
.cloud2{
    height: 100px;
    position: absolute;
    left: 400px;
    
}
.cloud3{
    height: 100px;
    position: absolute;
    right: 250px;
    top: 400px;
    
}

.top{
    background-color: #defbff;
   
}
.middle{
    margin-top: 50px;
    margin-bottom: 0px;
   
}
.bottom{
    margin-top: 0px;
    background-color: #66BFBF;
    
}
.profile{
    height: 200px;
}
.trainee{
    color: brown;
}
.web{
    color:blueviolet;
}
.web:hover{
    color: brown;
}
.dev{
    height: 250px;
    position: relative;
    left: 10px;
    float: left;
    padding-right: 20px;
}
#java{
    height: 250px;
    float: right;
    padding-right: 20px;
}
#game{
    float: left;
    padding-right: 20px;
}
.get{
    padding-top: 0px;
}
#copy{
    color: #EAF6f6;
}
#two{
    padding-top: 100px;
}
#one{
    padding-top: 40px;
}
#one:hover{
    color: #E8630A;
}
#two:hover{
    color: #E8630A;
}
#three{
    padding-top: 30px;
}
#three:hover{
    color: #E8630A;
}
.btn:hover{
    color: brown;
}
.skills{
    width: 60%;
    margin: 0px auto 100px auto;
    text-align: left;
    
}
.skill2{
    width: 60%;
    margin-top: 100px;
    margin: auto;
    text-align: left;
    
}
.skill3{
    width: 60%;
    margin: 100px auto;
    text-align: left;
    
}
.text{
    line-height: 2em;
}
.h2{
    color: #035397;
    margin-top: 30px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}
.hor{
    width: 10%;
    height: 0;
    border: none;
    border-top: dotted 7px #A1E3D8;
}

